<h2><%= @sound_trek.title %></h2>

<div class="show-soundtrek-flash-message"><%= flash[:no_access_delete] %></div><br>
<div class="show-soundtrek-flash-message"><%= flash[:no_access_edit] %></div><br>

<h3>Ratings</h3>
  <% if @sound_trek.num_of_ratings == 0 %>
    <div>This SoundTrek has not been rated yet.</div>
  <% else %>
    <div><%= @sound_trek.average_rating %> stars<br>
    <%= @sound_trek.num_of_ratings %> ratings</div>
  <% end %><br>


<div id="rate-soundtrek">
  <div class="show-soundtrek-flash-message"><%= flash[:rating_notice] %></div><br>

  <div class="show-soundtrek-flash-message"><%= flash[:update_rating] %></div><br>


  <% if !already_rated?(@sound_trek)  %>
    <h4>Rate This SoundTrek</h4>
    <%= form_for @rating, url: sound_trek_ratings_path(@sound_trek) do |f| %>
    <p><%= f.select :stars, options_for_select([['1 star', 1.00], ['2 stars', 2.00], ['3 stars', 3.00], ['4 stars', 4.00], ['5 stars', 5.00]]) %></p><br>
    <%= f.submit "Submit Rating" %>
    <% end %>
  <% elsif already_rated?(@sound_trek)  %>
    <p>You have given this SoundTrek a rating of <%= @sound_trek.ratings.find_by(trekker_id: current_user.id).stars %> stars.</p><br>
    <p>Change your rating?</p>
    <%= form_for @rating, url: sound_trek_rating_path(@sound_trek), method: :put do |f| %>
    <p><%= f.select :stars, options_for_select([['1 star', 1.00], ['2 stars', 2.00], ['3 stars', 3.00], ['4 stars', 4.00], ['5 stars', 5.00]]) %></p><br>
    <%= f.submit "Update Rating" %>
    <% end %>
  <% end %>
</div><br>

<h3>Description</h3>
  <div><%= @sound_trek.description %></div><br>

<h3>Playlist</h3>
  <div class="playlist-show">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:<%=@creator.spotify_id%>:playlist:<%=@playlist.id%>" width="300" height="380" frameborder="0"></iframe>
  </div>

<h3>Edit</h3>
  <div id="edit-delete-soundtreks">
    <% if sound_trek_owner?(@sound_trek) %>
      <%= link_to "Edit", edit_sound_trek_path(@sound_trek.id) %><br>
      <%= link_to 'Delete', sound_trek_path(@sound_trek.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
