<!DOCTYPE html>
<html>
  <head>
    <title>SoundTreks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <h2 align="center">SoundTreks</h2>


      <button id="get-playlists">Find Playlists!</button>


      <ul>
        <% if current_user %>
          <li>Signed in as: <%= current_user.name %></li>
          <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
        <% else %>
          <h3>Login</h3>
          <li><%= link_to image_tag('spotify.png', width: '', height: '100') , "auth/spotify" %></li>
        <% end %>
      </ul>

      <div class="playlist">
  <div class="loader">
    <div class="inner-circle"></div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
