<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "sound_trek_marker.png", rel: "sound-treks-icon", type: "image/png" %>

    <title>SoundTreks</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_secret'] %>"></script>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a href="/" class="navbar-brand">SoundTreks</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">

          <ul class="nav navbar-nav navbar-right">

            <% if current_user %>

            <li><%= link_to current_user.nick_name, user_path(current_user.id) %></li>
            <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>

            <% else %>

            <li><%= link_to "Login", "/auth/spotify" %></li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
